.App {
  max-width: 40rem;
  margin: 2rem auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-weight: 400;
  font-size: 40px;
  height: 8vh;
  /* color: black; */
}

.box {
  background-color: #3e2181;
  background-size: 100%;
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 0px;
  margin: 0;
  justify-content: center;
  font-family: 'Urbanist', sans-serif;
}

#login-form {
  background-color: #dcd3f8;
  background-size: 100%;
  margin-top: 10%;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 10px;
  padding: 2em;
}

#register-form {
  background-color: #dcd3f8;
  background-size: 100%;
  margin-top: 10%;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 10%;
  border-radius: 10px;
  padding: 2em;
}

#profile-form {
  background-color: #dcd3f8;
  background-size: 100%;
  text-align: center;
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
  border-radius: 10px;
  padding: 2em;
  padding-top: 10em;
}

#select {
  width: 60%;
  background-color: #ecf2f9;
  /* background-size: 100%; */
  text-align: center;
  margin: 5% auto;
  border-radius: 10px;
  padding: 2em;
  /* padding-top: 10em; */
}

#button {
  border-radius: 10px;
  height: 6vh;
  width: 100%;
  margin: 3% auto;
  background-color: #ecf2f9;
  font-weight: 200;
  border: 2px solid #cbbdf5;
}

#btn {
  border-radius: 10px;
  height: 6vh;
  width: 17%;
  margin-top: 5%;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #ecf2f9;
  font-weight: 200;
  border: 2px solid #cbbdf5;
}

#edit-btn {
  border-radius: 10px;
  height: 6vh;
  width: 30%;
  margin-right: 35%;
  margin-left: 35%;
  background-color: #ecf2f9;
  font-weight: 200;
  border: 2px solid #cbbdf5;
}
.inputfile:focus + label,
.inputfile + label:hover,
#btn-gift:hover,
#btn:hover,
#edit-btn:hover,
#button:hover {
  background-color: #5536cc;
  box-shadow: 0px 15px 20px #5536cc;
  color: #fff;
  opacity: 0.6;
  transform: translateY(-7px);
}

#input {
  border-radius: 8px;
  width: 100%;
  padding: 0.3em;
  margin: 3% auto;
  background-color: #ecf2f9;
}

#input-4 {
  border-radius: 8px;
  width: 100%;
  padding: 0.3em;
  margin: 3% auto;
  background-color: #ecf2f9;
  outline: #ff471a;
  border: 2px solid #cbbdf5;
}

#input-5 {
  border-radius: 8px;
  width: 100%;
  height: 10vh;
  padding: 0.3em;
  background-color: #ecf2f9;
  outline: #ff471a;
}

#input-6 {
  border-radius: 8px;
  width: 100%;
  height: 10vh;
  padding: 0.3em;
  background-color: #ecf2f9;
  outline: #ff471a;
  border: 2px solid #cbbdf5;
}

#link {
  border-radius: 8px;
  width: 63%;
  padding: 0.3em;
  margin: 3% auto;
  background-color: #ecf2f9;
  outline: #ff471a;
  border: 2px solid #cbbdf5;
}

#avatar {
  border-radius: 50%;
  border: 2px solid;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid #7b54e3;
  margin: 0px auto;
}

#profile-img {
  border-radius: 12px;
  height: 150px;
}

#home-box {
  margin-top: 5%;
  margin-bottom: 30%;
  border-radius: 12px;
}

#center {
  text-align: center;
}

#message-form {
  background-size: 100%;
  text-align: left;
  border-radius: 10px;
  padding: 1em;
}

#note {
  background-color: #dcd3f8;
  background-size: 100%;
  text-align: left;
  margin: 3% auto;
  border-radius: 10px;
  padding: 1em;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  display: inline-block;
  border-radius: 10px;
  height: 6vh;
  width: 100%;
  margin: 3% auto;
  padding: 3px;
  text-align: center;
  background-color: #ecf2f9;
  font-weight: 200;
  border: 2px solid #cbbdf5;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #faebe3;
}

.bar-box {
  padding: 3px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #baa2fb;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  height: 85px;
  position: relative;
}

.logo-li:hover {
  background-color: #5536cc;
  box-shadow: 0px 8px 20px #5536cc;
  color: #fff;
  opacity: 0.6;
  transform: translateY(-7px);
}
.li-box a:hover {
  background-color: #5536cc;
  box-shadow: 0px 15px 20px #5536cc;
  color: #fff;
  opacity: 0.6;
  transform: translateY(-7px);
}

.logo-li {
  float: left;
  display: block;
  width: 80px;
  text-align: center;
  border-radius: 30px;
  padding: 5px 5px 5px;
  text-decoration: none;
  position: relative;
}

.li-box a {
  float: left;
  color: black;
  display: block;
  text-align: center;
  border-radius: 8px;
  padding: 23px 30px 50px;
  text-decoration: none;
  position: relative;
}

.header-title {
  color: #ecf2f9;
  margin: 2rem auto;
  padding: 2em;
}
