.box {
  background-color: aquamarine;
  background-size: 100%;
  /* font-family: 'Retrospective'; */
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 0px;
}

.area {
  background-color: palevioletred;
  background-size: 100%;
  /* font-family: 'Retrospective'; */
  margin: 8% auto;
  margin: 0px;
}
